# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# Ingnore ClI congigurattion files
.terraformrc
terraform.rc

# ingnore crash logs
crash.log
